<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="classpath*:spring-service.xml"/>
    <import resource="classpath*:spring-redis.xml"/>
    <import resource="classpath*:spring-task.xml"/>

    <bean id="sessionManager" class="com.pb.server.sdk.session.PBSessionManage"/>
    <bean id="pbIOHandler" class="com.pb.server.sdk.handler.PBIoHandler" scope="prototype">
        <property name="handlers">
            <map>
                <entry key="login">
                    <bean class="com.pb.server.sdk.handler.LoginHandler">
                        <property name="accountService">
                            <ref bean="userAccountService"/>
                        </property>
                    </bean>
                </entry>
                <entry key="ping">
                    <bean class="com.pb.server.sdk.handler.PingHandler"/>
                </entry>
                <entry key="message">
                    <bean class="com.pb.server.sdk.handler.MessageHandler"/>
                </entry>
                <entry key="ack">
                    <bean class="com.pb.server.sdk.handler.ACKHandler"/>
                </entry>
                <entry key="logout">
                    <bean class="com.pb.server.sdk.handler.LogoutHandler"/>
                </entry>
                <entry key="addfriends">
                    <bean class="com.pb.server.sdk.handler.AddFriendsHandler">
                        <property name="friendsService">
                            <ref bean="friendsService"/>
                        </property>
                    </bean>
                </entry>
                <entry key="delfriends">
                    <bean class="com.pb.server.sdk.handler.DelFriendsHandler">
                        <property name="friendsService">
                            <ref bean="friendsService"/>
                        </property>
                    </bean>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="messagePusher" class="com.pb.server.sdk.pusher.PBMessagePusher"/>
    <bean id="offlineMessageManager" class="com.pb.server.sdk.MessageFactory.OfflineMessageManager">
        <property name="messageService">
            <ref bean="messageService"/>
        </property>
    </bean>

</beans>