<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task.xsd">
    <bean id="messageResendDaemon" class="com.pb.server.sdk.daemon.MessageResendDaemon">
        <property name="redisUtil">
            <ref bean="redisUtil"/>
        </property>
    </bean>
    <bean id="messageACKDaemon" class="com.pb.server.sdk.daemon.MessageACKDaemon">
        <property name="redisUtil">
            <ref bean="redisUtil"/>
        </property>
    </bean>

    <task:scheduler id="myscheduler" pool-size="10"/>
    <task:scheduled-tasks scheduler="myscheduler">
        <task:scheduled ref="messageResendDaemon" method="run" cron="0,15,30,45 * * * * ?"/>
        <task:scheduled ref="messageACKDaemon" method="run" fixed-delay="1"/>
    </task:scheduled-tasks>
</beans>