<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath*:spring-mybatis.xml"/>
    <bean id="messageService" class="com.pb.server.service.message.serviceImpl.MessageServiceImpl">
        <property name="MessageDao">
            <ref bean="messageDao"/>
        </property>
    </bean>
    <bean id="userAccountService" class="com.pb.server.service.user.serviceImpl.UserAccountServiceImpl">
        <property name="userAccountDao">
            <ref bean="userAccountDao"/>
        </property>
    </bean>

</beans>